/* src/components/App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

:root {
  --light-bg: #ffffff;
  --light-text: #000000;
  --dark-bg: #282c34;
  --dark-text: #ffffff;
}

.App {
  text-align: center;
}

.App-header {
  background-color: var(--light-bg);
  padding: 20px;
  color: var(--light-text);
  transition: background-color 0.3s, color 0.3s;
}

.App.dark .App-header {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

button {
  padding: 10px 20px;
  margin-left: 20px;
  cursor: pointer;
}

main {
  padding: 20px;
  background-color: var(--light-bg);
  color: var(--light-text);
  transition: background-color 0.3s, color 0.3s;
}

.App.dark main {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

h1, h2 {
  color: inherit;
}

table {
  width: 50%;
  margin: 0 auto 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dashboard.light {
  background-color: var(--light-bg);
  color: var(--light-text);
}

.dashboard.dark {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

table {
  width: 50%;
  margin: 0 auto 20px;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: center;
}

tr:hover {
  background-color: #f1f1f1;
  cursor: pointer;
}

.dashboard.light tr:hover {
  background-color: #e1e1e1;
}

.dashboard.dark tr:hover {
  background-color: #444;
}
.chart-container {
  width: 800px; /* Adjust the width as needed */
  height: 800px; /* Adjust the height as needed */
  margin: 0 auto;
}

